Source: roboclue
Section: utils
Priority: optional
Maintainer: Parrot Team <team@parrotsec.org>
Uploaders: Nong Hoang Tu <dmknght@parrotsec.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://nest.parrotsec.org/packages/tools/roboclue
#Vcs-Browser: https://salsa.debian.org/debian/roboclue
#Vcs-Git: https://salsa.debian.org/debian/roboclue.git
Rules-Requires-Root: no

Package: roboclue
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
