Source: roboclue
Section: utils
Priority: optional
Maintainer: Parrot Team <team@parrotsec.org>
Uploaders: Nong Hoang Tu <dmknght@parrotsec.org>
Build-Depends: debhelper-compat (= 13), nim (>=1.4)
Standards-Version: 4.5.1
Homepage: https://nest.parrotsec.org/packages/tools/roboclue
Vcs-Browser: https://nest.parrotsec.org/packages/tools/roboclue
Vcs-Git: https://nest.parrotsec.org/packages/tools/roboclue.git
Rules-Requires-Root: no

Package: roboclue
Architecture: any
Depends: libc6
Description: Fast robots.txt auditor
 roboclue is a lightweight tool written in Nim lang that auto reads
 robots.txt from URL and check all possible links from it.
